<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCC | Thank You</title>
</head>
<body>
    <div class="background"></div>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #000;
            color: #fff;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .thank-you-message {
            text-align: center;
        }
        h2 {
            color: #f9a825;
        }
    </style>
    <div class="container">
        <h1>Thank You!</h1>
        <p>We are honored by your interest in making an exceptional contribution. Our team will be in touch with you shortly.</p>
    </div>
</body>
</html>
